/* <p> tagı içinde bulunan metinlerin rengini değiştirmek (kırmızı) için aşağıdaki CSS kodunu kullanabilirsiniz. */
p{color:red;}

/* <h1> tagının rengini ve boyutunu değiştirmek için aşağıdaki CSS kodunu kullanabilirsiniz. */
h1{color: blue; font-size: 16px;} /* color ile rengi, font-size ile boyutu değiştirdik. */

/* CSS kodlarının okunulabilirliklerini arttırmak için kodları alt alta yazabiliriz.*/
h2
{
    color:blue;
    font-size: 16px;
    
}

/* eğer tüm paragrafların ve resim açıklamalarının fontunu arial yapmak istiyorsanız aşağıdaki kodu kullanabilirsiniz. */
p, figcaption
{
    font-family: arial;
}

/* eğer yazmak istediğiniz CSS kodu sadece belli id değerine sahip HTML komutlarına uygulamak istiyorsanız aşağıdaki sözdizimini kullanabilirsiniz. */
 #id
 {
    color: aliceblue;
 }

 /* css kodunuzun id' si anabaslik olan html komutunu etkilesin istiyorsanız (örn: <h1 id= "anabaslik">XYZ</h1>) aşağıdaki kodu kullanabilirsiniz.*/
 #anabaslik
 {
    color: blue;
    font-size: 25px;
    font-family: arial;
 }

 /*CSS kodlarını birden fazla HTML komutuna uygulamak için yazdığınız CSS kodlarına bir isim veriyorsunuz ve HTML komutunun class özelliği ile istediğiniz CSS kodunu istediğiniz HTML komutuna uygulayabiliyorsunuz*/
 .css_ismi
 {
    color: aliceblue;
 }

  /* örneğin sayfamızda <h2 class ="mavi">AAA</h2> ve <p class="mavi">aaa</p> olduğunu düşünelim. her iki komutta da class değeri mavi. aşşağıdaki css kodu ile class özelliği mavi olan herşeyi mavi yapıyoruz.*/
  .mavi
  {
    color:blue
  }

  /* css kodlarımıza yorum satırı eklemek için "/" işareti yanına "*" işareti ekliyoruz. kapamak içinde tam tersi. */